<!DOCTYPE html>
<html lang="es">

    <%- include('../partials/head',{title: 'Login'}) %> 

<body>
        
    <%- include('../partials/header') %>

    <main class="login">
        <div class="centrar">
        <section class="section1">
            <h4 class="titulo">
                <p class="titulo1">Inicia sesión a <a  class="titulo2" href="">MundoPets</a> </p>
            </h4>
            <form action="" method="post">
              
                <div class="container bottom">
                    <label for="email">Email</label>
                    <input type="email" name="email" id="email" placeholder="Ingresa tu email">
                    <div  id="emailContainer"></div>
                </div>
                <div class="container bottom">
                    <label for="contrasenia">Contraseña</label>
                    <div class="contrasenia">
                        <input type="password" name="contrasenia" id="contrasenia"
                            placeholder="Ingresa una Contraseña">
                        <!-- abajo esta el ojito de login, si lo descomento aparece-->
                        <i class="fas fa-eye-slash" id="eye-contrasenia"></i>
                    </div>
                    <div id="contraseniaContainer"></div>
                <div class="recordarme-bottom">
                    <label class="textRecordarme" for="recordarme">Recordarme</label>
                    <input class="recordarmecheck" type="checkbox" name="recordarme" id="recordarme">
                </div>
                <button class="cuenta" type="submit">Inicia sesion</button>
                <!-- <button type="reset">Cancelar</button> -->
            </form>
            <h4>¿No tenés una cuenta? <a href="/usuarios/register">Registrate</a></h4>
        </section>
    </div>
    </main>

    <%- include('../partials/footer') %>
    <script src="/javascripts/login.js"></script>
</body>

</html>