<!DOCTYPE html>
<html lang="es">
    <%- include('../partials/head',{title: locals.usuarioLogin.nombre}) %> 
<body>
    <%- include('../partials/header') %>
    <main  class="perfil">
        <section class="fondoCeleste">
            <article class="article1">
                <div class="imgPosicion">
                <div class="imgPerfil">
                    <img src="/img/usuarios/<%= locals.usuarioLogin.imagen %>  " alt="">
                </div>
            </div>
            <div class="fondoSaludo">
                <div class="saludo">Bienvenid@ <%= `${locals.usuarioLogin.rol == 1 ? 'Administrador' : 'Usuario' } ${locals.usuarioLogin.nombre}` %>!</div>
            </div>
            </article>
            <article class="article2">
                <ul>
                    <li>
                <a href="/usuarios/datosPerfil">Perfil</a>
            </li>
            <li>
                <a href="/usuarios/editarPerfil">Editar perfil</a>
            </li>
            <li>
                <a href="">Usuarios</a>
            </li>
            <li>Productos</li>
            <ul>
                    <li><a href="/admin/lista">Listado</a></li>
                    <li><a href="/admin/crear">Crear producto</a></li>
                </ul>
                <form action="/usuarios/cerrarSesion?_method=DELETE" method="post">
                    <button type="submit">Cerrar sesión</button>
                </form>
            </ul>
            </main>
            </article>
        </section>





    
</body>
</html>