<header>
  <div class="top">
      <div class="logo">
          <a href="/"><img src="/img/LogoMundoPets2.png" alt="logo Mundo Pets"></a>
      </div>
  </div>
  <div class="Uno">
    <nav>
      <div class="carrito">
           <a href="/productos/carrito"><i class="fas fa-shopping-cart"></i></a> <!-- link carrito -->
      </div>
      <div>
          <input type="text" maxlength="100" placeholder="Buscar"  class="buscador">  <!-- barra buscador -->
      </div>
      <span class="lupa">
          <i class="fas fa-search"></i>
      </span>
      <div class="user">
          <a href="/usuarios/login"><i class="fas fa-user"></i></a><!-- login & register -->
      </div>
      <div>
        <li><a href="/admin/lista">ADMIN</a></li>  
      </div>
      <div class="menu">
       <i class="fas fa-bars"></i>
      </div>
    </nav>
  </div>
</header>