

.carrito{
    background-image: url(/img/fondoPaws.png);
    background-attachment: fixed;
    background-size: 180%;

    font-family: var(--fuenteSubtitulos);
    margin-left: 10px;
}



.carrito img{
    height: 110px;
    width: 80px;
    object-fit: contain;
   }

.carrito .olUno{
    padding-left: 0;
}

.carrito a{
    color: var(--colorAzulFrancia);
    text-decoration: none;

    width: 88px;
    height: 10%;
    margin-left: 2%;
    margin-top: 5px;
    
    
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
}

.carrito .aUno{
    color: var(--colorAzulMarino);
}

.carrito .sUno{
    top: 13px;
    margin-right: 26%;
    margin-left: 5%;
    
    font-weight: 500;
    font-size: 16px;
    }

    .carrito .sDos{
        top: 13px;
        margin-right: 20%;
        margin-left: 2%;
        
        font-weight: 500;
        font-size: 16px;
        }


.carrito .sCuatro{
    color: var(--colorAzulFrancia);
    text-decoration: none;

/*     position: absolute;
    margin-right: 20%;
    margin-left: 27%;
    margin-top: 45px;
    
    font-weight: 500;
    font-size: 17px;
    line-height: 16px; */
}

.carrito .sCinco{
/*     position: absolute; */
    color: var(--colorAzulFrancia);
    text-decoration: none;

/*     position: absolute;
    margin-left: 62%;
    margin-top: 45px;
    
    font-weight: 500;
    font-size: 17px;
    line-height: 16px; */
}

.carrito .sSeis{
    color: var(--colorNaranja);
}

.carrito .sSiete{
    color: var(--colorNaranja);
    font-size: 17px;
}

.carrito .sOcho{
    color: var(--colorHueso);
    font-size: 17px;
    font-weight: 600;
    
    background-color: var(--colorAzulFrancia);
    border-radius: 15px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border: none;
}

.carrito .dUno{
    color: var(--colorHueso);
}

.carrito .sNueve{
    color: var(--colorAzulFrancia);
}

.carrito .sDiez{
    color: var(--colorAzulFrancia);
}

.carrito .sOnce{
    color: var(--colorAzulFrancia);
    font-weight: 600;
}

.carrito .sDoce{
    color: var(--colorAzulFrancia);
}

.carrito .sTrece{
    color: var(--colorAzulFrancia);
}

.carrito .sCatorce{
    color: var(--colorAzulFrancia);
}

.carrito .dDos{
    color: var(--colorHueso);
    font-size: 18px;
    font-weight: 600;
    
    background-color: var(--colorAzulFrancia);
    border-radius: 15px;
    padding: 5px;
    padding-left: 14px;
    padding-right: 14px;
    border: none;
}