
.detalle .section1{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 1vw;
  margin: 12px;

  background-color: white;
  border: 3px solid var(--colorAmarillo);
  border-radius: 20px;
}

.detalle .imagenProducto{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.detalle .imagenProducto img{
  height: 35vw;
  width: 25vw;

  display: flex;
  flex-direction: column;
  justify-items: center;
  object-fit: contain;
}

.detalle .divColum {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 49vw;
  margin-top: 2%;
}

.detalle .titulo{
  padding-left: 5%;
  padding-right: 5%;
  margin-bottom: 2vw;
  text-align: center;
  font-size: 17px;
  font-weight: 500;
  color: var(--colorAzulFrancia);
  font-family: var(--fuenteTitulos);
  background-color: var(--colorGris);
  padding-top: 10px;
  border-radius: 45px;
}

.detalle .precioColum{
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: -7vw;
}

.detalle .precioDescuento{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.detalle .precio{
  font-size: 19px;
  font-weight: 300;
  color: var(--colorCeleste);
  text-decoration: line-through;
  font-family: var(--fuenteTitulos);
  margin-bottom: -4%;
  padding-left: 10vw;
}

.detalle .precioFinal{
  font-size: 22px;
  font-weight: 400;
  color: var(--colorAzulMarino);
  font-family: var(--fuenteTitulos);
  margin-right: 2%;
}

.detalle .descuento{
  padding-top: 0.7vw;
  font-size: 14px;
  font-weight: 400;
  color: var(--colorNaranja);
  font-family: var(--fuenteTitulos);
}

.detalle .cantidad{
  display: flex;
  flex-direction: row;
}

.detalle .carrito{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 53vw;
}
.detalle .articleProducto{
  display: flex;
  flex-direction: row;
}

.detalle .divColum{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 49vw;
  margin-top: 2%;
}

.detalle .divRow{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
}

.detalle .agregar{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 1vw;
}

.detalle #contador{
  border: 3px solid var(--colorAmarillo);
  border-radius: 30px;
  width: 60px;
  height: 25px;
  text-align: center;
  font-size: 17px;
  font-family: var(--fuenteSubtitulos);
  font-weight: 500;
  color: var(--colorAzulMarino);
  margin-top: 5%;
}

.detalle #decrease{
  color: var(--colorAzulFrancia);
  font-size: 24px;
  background-color: transparent;
}

.detalle #increase{
  color: var(--colorAzulFrancia);
  font-size: 24px;
  background-color: transparent;
  border: none;
}

.detalle .botonCarrito{
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 47%;
  border: none;
  padding: 2px;
  background-color: var(--colorAzulFrancia);
  border-radius: 20px;
  font-family: var(--fuenteTitulos);
  font-size: 13px;
  font-weight: 600;
  color: white;
  text-align: center;
  padding-top: 8.3px;
  margin-top: 0.7000000000000002vw;
  padding-right: 2vw;
  padding-left: 2vw;
  margin-left: 14vw;
  margin-bottom: 1vw;
}


.detalle .descripcion{
  display: flex;
  flex-direction: column;
  margin: 12px;

  background-color: rgba(255, 255, 255, 0.918);
  border-radius: 20px;
  padding: 4%;
}

.detalle .textoDescripcion{
  margin-bottom: 15px;
  font-size: 22px;
  font-weight: 500;
  color: var(--colorAzulMarino);
  font-family: var(--fuenteTitulos);
}

.detalle .parrafo{
  font-size: 15px;
  font-weight: 400;
  color: rgb(40, 40, 43);
  font-family: var(--fuenteTitulos);
}

.detalle .productosRelacionados{
  width: 100vw;
  margin-bottom: 10vw;  
}

.detalle .divTitulo{
  width: 100%;
  margin-bottom: 6px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.detalle .spanTitulo{
  top: 681px;
  height: 48px;
  background-color: rgba(255, 255, 255, 0.918);
  padding: 7px;
  padding-top: 12px;
  padding-right: 20px;
  padding-left: 20px;
  border-radius: 25px;
  text-align: center;
}

.detalle .spanAzul {
  font-family: var(--fuenteTitulos);
  color: var(--colorAzulFrancia);
  text-align: center;
  margin-bottom: 30px;
  font-size: 26px;
  font-weight: 500;
}

.detalle .spanNaranja {
  font-family: var(--fuenteTitulos);
  color: var(--colorNaranja);
  text-align: center;
  margin-bottom: 30px;
  font-size: 26px;
  font-weight: 500;
}

.detalle .carrouselProductos{
  width: 98%;
  margin: 0 auto;
}
.detalle .carrouselProductos .card{
  width: 350px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
}

.detalle .glider-contain {
  width: 100%;
  margin: 0 auto;
  position: relative;
}
.detalle .glider {
  margin: 0 auto;
  position: relative;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none;
  transform: translateZ(0);
}
.detalle  .glider-track {
  transform: translateZ(0);
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  z-index: 1;
}
.detalle  .glider.draggable {
  user-select: none;
  cursor: -webkit-grab;
  cursor: grab;
}
.detalle .glider.draggable .glider-slide img {
  user-select: none;
  pointer-events: none;
}
.detalle .glider.drag {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}
.detalle .glider-slide {
  user-select: none;
  justify-content: center;
  align-content: center;
  width: 100%;
}
.detalle .glider-slide img {
  max-width: 100%;
}
.detalle .glider::-webkit-scrollbar {
  opacity: 0;
  height: 0;
}
.detalle .glider-prev,.glider-next {
  user-select: none;
  position: absolute;
  outline: none;
  background: none;
  padding: 0;
  z-index: 2;
  font-size: 70px;
  text-decoration: none;
  left: 15px;
  border: 0;
  top: 30%;
  cursor: pointer;
  color: var(--colorNaranja);
  opacity: 1;
  line-height: 1;
  transition: opacity .5s cubic-bezier(.17,.67,.83,.67),
              color .5s cubic-bezier(.17,.67,.83,.67);
}

.detalle .glider-next{
  font-size: 70px;
}

.detalle .glider-prev:hover,
.glider-next:hover,
.glider-prev:focus,
.glider-next:focus {
  color: var(--colorNaranja);
}
.detalle .glider-next {
  right: 20px;
  left: auto;
}
.detalle .glider-next.disabled,
.glider-prev.disabled {
  opacity: .25;
  color: var(--colorNaranja);
  cursor: default;
}

.fa-chevron-right:before{
  color: var(--colorNaranja);
}

.fa-chevron-left:before{
  color: var(--colorNaranja);
}

.detalle .glider-slide {
  min-width: 150px;
}
.detalle .glider-hide {
  opacity: 0;
}
.detalle .glider-dots {
  user-select: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  padding: 0;
}
.detalle .glider-dot {
  border: 0;
  padding: 0;
  user-select: none;
  outline: none;
  display: block;
  cursor: pointer;
  color: var(--colorCeleste);
  border-radius: 999px;
  background: var(--colorCeleste);
  width: 12px;
  height: 12px;
  margin: 7px;
}
.detalle .glider-dot:hover,
.glider-dot:focus,
.glider-dot.active {
  background: var(--colorAzulFrancia);
}

.detalle .glider-dot.active{
  background: var(--colorAzulFrancia);
}


@media(max-width: 36em){
  .detalle .glider::-webkit-scrollbar {
    opacity: 1;
    -webkit-appearance: none; 
    width: 7px;
    height: 3px;
  }
  .detalle .glider::-webkit-scrollbar-thumb {
    opacity: 1;
    border-radius: 99px;
    background-color: rgba(255, 255, 255, 0.918);
    box-shadow: 0 0 1px rgba(255,255,255,.25);
  }
}  

@media(max-width: 36em){
  .detalle .glider::-webkit-scrollbar {
    opacity: 1;
    -webkit-appearance: none; 
    width: 7px;
    height: 3px;
  }
  .detalle .glider::-webkit-scrollbar-thumb {
    opacity: 1;
    border-radius: 99px;
    background-color: rgba(255, 255, 255, 0.918);
    box-shadow: 0 0 1px rgba(255,255,255,.25);
  }
}  
  
  /* tablet */
  @media (min-width:426px) {

    .detalle .section1{
      display: flex;
      flex-direction: row;
      justify-content: center;
      padding: 1vw;
      margin: 40px;
    }
    .detalle .articleProducto{
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    .detalle .imagenProducto img{
      height: 35vw;
      width: 25vw;
      display: flex;
      flex-direction: column;
      justify-items: center;
    }

    .detalle .divColum{
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 49vw;
      margin-top: 2%;
    }

    .detalle .titulo{
      padding-left: 5%;
      padding-right: 5%;
      margin-bottom: 2vw;
      font-size: 20px;
    }

.detalle .precioColum {
    width: 100%;
}

    .detalle .precio {
      padding-left: 10vw;
      font-size: 20px;
      margin-bottom: -4%;
  }

    .detalle .precioFinal {
      font-size: 30px;
      margin-right: 2%;
  }

  .detalle .descuento{
    font-size: 17px;
  }

    .detalle .divRow{
      flex-direction: column;
    }

    .detalle .precioDescuento{
      display: flex;
      justify-content: center;
    }

    .detalle .carrito{
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      width: 53vw;
      margin-top: 1vw;
    }

    .detalle .agregar{
      display: flex;
      flex-direction: row;
      justify-content: center;

    }

    .detalle #increase {
      font-size: 23px;
  }
  
  .detalle #decrease {
    font-size: 23px;
}

.detalle #contador {
  width: 59px;
  height: 26px;
  font-size: 18px;
  margin-top: 5%;
}

.detalle .botonCarrito {
  width: 84%;
  padding: 2px;
  font-size: 11px;
  margin-top: 0.7000000000000002vw;
  padding-right: 2vw;
  padding-left: 2vw;
  padding-top: 1.3vw;
  margin-left: -1vw;
}

.detalle .descripcion {
  display: flex;
  flex-direction: column;
  margin: 40px;
  border-radius: 20px;
  padding: 4%;
}

.detalle .textoDescripcion {
  font-size: 18px;
}

.detalle .parrafo {
    font-size: 14px;
}

.detalle .glider-contain {
  width: 85vw;
}

.detalle .productosRelacionados{
  margin-bottom: 10vw;
}


  }

  @media (min-width:600px){
    .detalle .titulo{
      padding-left: 5%;
      padding-right: 5%;
      margin-bottom: 2vw;
      font-size: 25px;
    }

    .detalle .divColum{
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 60vw;
      margin-top: 2%;
    }

    .detalle .precioFinal {
      font-size: 45px;
      margin-right: 2%;
  }

  .detalle .descuento{
    font-size: 20px;
  }

  .detalle .precio{
    padding-left: 20vw;
    font-size: 25px;
    margin-bottom: -2%;
  }

  .detalle #contador {
    width: 100px;
    height: 38px;
    font-size: 26px;
    margin-top: 8%;
  }
  
  .detalle #increase {
    font-size: 35px;
}

.detalle #decrease {
  font-size: 35px;
}

.detalle .botonCarrito {
  width: 100%;
  padding: 6px;
  font-size: 17px;
  margin-top: 0.7vw;
  padding-top: 15px;
  padding-right: 2vw;
  padding-left: 2vw;
}

.detalle .descripcion {
  display: flex;
  flex-direction: column;
  margin: 40px;
  border-radius: 20px;
  padding: 4%;
}

.detalle .textoDescripcion {
  font-size: 27px;
}


.detalle .parrafo {
  font-size: 18px;
}

.detalle .productosRelacionados{
  margin-bottom: 10vw;
}

.detalle .carrito{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 60vw;
  margin-top: 5vw;
}
}
  
  /* desktop */
  @media (min-width:1024px){
    
    .detalle .section1{
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      margin: 40px;
      border-radius: 20px;
    }

    .detalle .imagenProducto img{
      height: 30vw;
      width: 23vw;
      object-fit: contain;
      display: flex;
      flex-direction: column;
      justify-items: center;
    }

    .detalle .titulo{
      padding-left: 10%;
      padding-right: 10%;
      margin-bottom: 2vw;
      font-size: 40px;
      padding-top: 18px;
      border-radius: 45px;
    }

    .detalle .precioColum {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-bottom: 0vw;
  }

    .detalle .precio {
      font-size: 25px;
      margin-bottom: -2%;
      padding-left: 4vw;
  }

    .detalle .precioFinal {
      font-size: 47px;
      margin-right: 5%;
  }

    .detalle .divRow{
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      width: 100%;
    }

    .detalle .precioDescuento{
      display: flex;
      flex-direction: row;
      width: 100%;
    }

    .detalle .carrito{
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-top: 0vw;
    }

    .detalle .agregar{
      display: flex;
      flex-direction: row;
      justify-content: center;
      margin-bottom: 16px;
    }

    .detalle #increase {
      font-size: 40px;
  }
  
  .detalle #decrease {
    font-size: 40px;
}

.detalle #contador {
  border-radius: 30px;
  width: 100px;
  height: 44px;
  font-size: 33px;
  margin-top: -0.2%;
}

.detalle .botonCarrito {
  width: 55%;
  padding: 6px;
  font-size: 17px;
  margin-top: 0.7vw;
  margin-left: 6.8vw;
  padding-top: 15px;
  padding-right: 2vw;
  padding-left: 2vw;
}

.detalle .descripcion {
  display: flex;
  flex-direction: column;
  margin: 40px;
  border-radius: 20px;
  padding: 4%;
}

.detalle .textoDescripcion {
  font-size: 35px;
  margin-bottom: 15px;
}

.detalle .parrafo {
    font-size: 20px;
}

.detalle .spanAzul {
  font-family: var(--fuenteTitulos);
  color: var(--colorAzulFrancia);
  text-align: center;
  margin-bottom: 30px;
  font-size: 33px;
  font-weight: 500;
}

.detalle .spanNaranja {
  font-family: var(--fuenteTitulos);
  color: var(--colorNaranja);
  text-align: center;
  margin-bottom: 30px;
  font-size: 33px;
  font-weight: 500;
}

.detalle .spanTitulo{
  top: 680px;
  height: 48px;
  background-color: rgba(255, 255, 255, 0.918);
  padding: 11px;
  padding-top: 9px;
  padding-right: 30px;
  padding-left: 30px;
  border-radius: 40px;
  text-align: center;
}

.detalle .divTitulo{
  width: 100%;
}

.detalle .glider-contain {
  width: 93vw;
}


  }

  @media (min-width:1127px){
    .detalle .precioFinal {
      font-size: 55px;
      margin-right: 5%;
    }
  }
  
  @media (min-width:1500px){
    .detalle .imagenProducto img{
      height: 23vw;
      width: 18vw;
      object-fit: contain;
      display: flex;
      flex-direction: column;
      justify-items: center;
    }

    .detalle .precio {
      font-size: 25px;
      margin-bottom: -2%;
      padding-left: 5.1vw;
  }
} 