* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
   
 }
 li{
     list-style: none;
 }
 a{
     text-decoration: none;
 }

 button{
    transition: backgroud-color, 0.5s,
    color, 0.5s,
    border, 0.5s;
 }

 body{
     margin: 0 auto;
     background-image: url('../img/fondoPaws.png');
     background-attachment: fixed;
     background-size: 100% 100%;
     width: 100vw;
     background-repeat: no-repeat;
     display: block;
     background-position: cover;
     background-size: 120vw;
     background-repeat: repeat;
 }
 .admin a{
    color: black;
   }
    
 