/* * {
    box-sizing: border-box;
    margin: 11px;
    padding: 9px;
    border-radius: 10px;
    width: 211px;
} */
body{
    max-width: 1440px;
    margin: 0 auto;
    font-family: var(--fuenteTitulos);
    background-image: url('/img/fondoPaws.png');
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    background-size: cover;
}
