*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
   
 }
 li{
     list-style: none;
 }
 a{
     text-decoration: none;
 }
 body{
    background-image: url('../img/fondoPaws.png');
    background-size: 100%;
    width: 100%;
   /*   background-repeat: no-repeat; */
   /*  display: block; */
   /* background-position: cover; */
}
