.listaUsuarios .imgPosicion{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    padding: 20px;
}

.listaUsuarios{
    padding: 30px;
}

.table>:not(caption)>*>* {
    box-shadow: none;
}

.listaUsuarios .table-responsive{
    background-color: rgba(255, 255, 255, 0.918);
    border-radius: 25px;

}

.listaUsuarios .imgPerfil{
    display: flex;
    flex-direction: row;
    justify-content: center;
    
    height: 100px;
    width: 100px;
    overflow: hidden;
    
    background-repeat: no-repeat;
    background-size: 100% auto;
    border-radius: 50%;
    border: 3px solid white;
    
}

.listaUsuarios .imgPerfil img{
    height: auto;
    width: auto;
}

.listaUsuarios button{
    color: var(--colorAzulFrancia);
    font-size: 30px;
    background: none;
    padding: 0;
    border: none;
}

.listaUsuarios th{
    text-align: center;
    color: var(--colorNaranja);
    font-family: var(--fuenteSubtitulos);
}

.listaUsuarios .td{
    top: 44px;
    position: relative;
    text-align: center;

    color: var(--colorAzulMarino);
    font-family: var(--fuenteSubtitulos);
}

.listaUsuarios .id{
    top: 44px;
    position: relative;
    text-align: center;
}

.listaUsuarios .form-select{
    color: var(--colorAzulMarino);
    font-family: var(--fuenteSubtitulos);
}

.listaUsuarios h1{
    color: var(--colorAzulFrancia);
    font-family: var(--fuenteSubtitulos);
    background-color: white;
    border-radius: 25px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.listaUsuarios .form-select {
    margin-left: 15px;
    margin-bottom: 29px;
    display: block;
    width: 94%;
    padding: 0.375rem 2.25rem 0.375rem 0.75rem;
    -moz-padding-start: calc(0.75rem - 3px);
    font-size: 1rem;
    font-weight: 400;
    font-family: var(--fuenteSubtitulos);
    line-height: 1.5;
    color: var(--colorAzulMarino);
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: right 0.75rem center;
    background-size: 16px 12px;
    border: 3px solid var(--colorAmarillo);
    border-radius: 0.375rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

