.mainHome {
    background-size: 100%;
    width: 100%;
 
    background-repeat: no-repeat;
    background-position: cover;
    margin-top: 8vw;
} 

.home .banner img{
    display: none;
}

.home .banner1500 img {
    display: none;
}

.home .bannerMobile img{
    position: absolute;
    width: 100vw;
    object-fit: contain;
  }

  .home .bannerFalsoMobile img{
    width: 100vw;
    object-fit: contain;
    visibility: hidden;
  }

  .mainHome .divTitulo{
    width: 100%;
    margin-bottom: 6px;
}

.mainHome .spanTitulo{
    top: 681px;
    height: 48px;
    background-color: rgba(255, 255, 255, 0.918);
    padding: 7px;
    padding-top: 12px;
    padding-right: 20px;
    padding-left: 20px;
    border-radius: 25px;
    text-align: center;
}

  .mainHome .section2{
    display: none;
  }

.mainHome .section1 {
    width: 100%;
    margin-top: 8px;
    padding: 8px;
    text-align: center;
    font-size: large;
    margin-bottom: 33px;
   
}

.mainHome .spanAzul {
    font-family: var(--fuenteTitulos);
    color: var(--colorAzulFrancia);
    text-align: center;
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: 500;
}

.mainHome .spanNaranja {
    font-family: var(--fuenteTitulos);
    color: var(--colorNaranja);
    text-align: center;
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: 500;
}

.mainHome .marcas{
    position: absolute;
    top: 680px;
    height: 48px;
    background-color: rgba(255, 255, 255, 0.918);
    padding: 7px;
    padding-right: 22px;
    padding-left: 22px;
    border-radius: 20px;
}

.mainHome .destacadosP {
    text-align: center;
    margin-top: 6px;
}


.mainHome .logos {
    
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    background-color: white
}

.mainHome .logos img {
    width: 20%;
    padding: 10px;
    /*  margin-top: 10px; */
}

.mainHome .links .perro {
    height: 160px;
    margin: 32px;
    display: flex;
    align-items: stretch;
    border-radius: 20px;
    padding: 8px;
    background-color: var(--colorNaranja);
}

/* .mainHome .perrosTexto{
    margin-top: 10px;
    margin-left: 10px;
} */

/* .mainHome .gatosTexto{
    margin-top: 5px;
    margin-left: 10px;
    margin-bottom: 7px;
} */

.mainHome .perro a,
.gato a,
.contacto a,
.nosotros a {
    font-family: var(--fuenteTitulos);
    font-weight: 700;
    font-size: 20px;
}

.mainHome .patitas{
    height: 26vw;
    width: 22vw;
}

.mainHome .imgMascotasP{
    display: flex;
    flex-direction: column;
    margin-right: 14vw;
}

.mainHome .imgMascotas{
    display: flex;
    flex-direction: column;
    margin-top: 7px;
    margin-right: 17vw;
}

.mainHome .imgPerro {
    width: 28vw;
    height: 34vw;
    margin-top: 0vw;
}
.mainHome .dog {
    width: 100%;
    display: flex;
    justify-content: center;
}

.mainHome .imgGato{
    width: 27vw;
    height: 32vw;
    margin-top: 3vw;
}

.mainHome .cat {
    width: 100%;
    display: flex;
    justify-content: center;
}

.mainHome .links .gato {
    height: 160px;
    margin: 32px;
    display: flex;
    align-items: stretch;
    border-radius: 20px;
    background-color: var(--colorAmarillo);
}



.mainHome .links .nosotros {
    height: 160px;
    margin: 32px;
    font-size: 14px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--colorCeleste);
    border-radius: 20px;
    padding: 8px;
}

.mainHome .nosotros a,
.contacto a {
    color: white;
    margin-bottom: 2px;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.mainHome .links .contacto {
    height: 160px;
    margin: 32px;
    display: flex;
    flex-direction: column;
    background-color: var(--colorAzulMarino);
    border-radius: 20px;
    padding: 8px;
}

.mainHome .links div i {
    width: 100%;
    font-size: 100px;
    color: white;
    text-align: center;

}

.mainHome .quienSomos{
    display: none;
}

.home .carrouselProductos{
    width: 98%;
    margin: 0 auto;
}
.home .carrouselProductos .card{
    width: 350px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
}

.home .glider-contain {
    width: 100%;
    margin: 0 auto;
    position: relative;
  }
  .home .glider {
    margin: 0 auto;
    position: relative;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;
    transform: translateZ(0);
  }
  .home  .glider-track {
    transform: translateZ(0);
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    z-index: 1;
  }
  .home  .glider.draggable {
    user-select: none;
    cursor: -webkit-grab;
    cursor: grab;
  }
  .home .glider.draggable .glider-slide img {
    user-select: none;
    pointer-events: none;
  }
  .home .glider.drag {
    cursor: -webkit-grabbing;
    cursor: grabbing;
  }
  .home .glider-slide {
    user-select: none;
    justify-content: center;
    align-content: center;
    width: 100%;
  }
  .home .glider-slide img {
    max-width: 100%;
  }
  .home .glider::-webkit-scrollbar {
    opacity: 0;
    height: 0;
  }
  .home .glider-prev,.glider-next {
    user-select: none;
    position: absolute;
    outline: none;
    background: none;
    padding: 0;
    z-index: 2;
    font-size: 70px;
    text-decoration: none;
    left: 15px;
    border: 0;
    top: 30%;
    cursor: pointer;
    color: var(--colorNaranja);
    opacity: 1;
    line-height: 1;
    transition: opacity .5s cubic-bezier(.17,.67,.83,.67),
                color .5s cubic-bezier(.17,.67,.83,.67);
  }

  .home .glider-next{
    font-size: 70px;
  }

  .home .glider-prev:hover,
  .glider-next:hover,
  .glider-prev:focus,
  .glider-next:focus {
    color: var(--colorNaranja);
  }
  .home .glider-next {
    right: 20px;
    left: auto;
  }
  .home .glider-next.disabled,
  .glider-prev.disabled {
    opacity: .25;
    color: var(--colorNaranja);
    cursor: default;
  }

  .fa-chevron-right:before{
    color: var(--colorNaranja);
  }

  .fa-chevron-left:before{
    color: var(--colorNaranja);
  }

  .home .glider-slide {
    min-width: 150px;
  }
  .home .glider-hide {
    opacity: 0;
  }
  .home .glider-dots {
    user-select: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    padding: 0;
  }
  .home .glider-dot {
    border: 0;
    padding: 0;
    user-select: none;
    outline: none;
    display: block;
    cursor: pointer;
    color: var(--colorCeleste);
    border-radius: 999px;
    background: var(--colorCeleste);
    width: 12px;
    height: 12px;
    margin: 7px;
  }
  .home .glider-dot:hover,
  .glider-dot:focus,
  .glider-dot.active {
    background: var(--colorAzulFrancia);
  }

  .home .glider-dot.active{
    background: var(--colorAzulFrancia);
  }
  

  @media(max-width: 36em){
    .home .glider::-webkit-scrollbar {
      opacity: 1;
      -webkit-appearance: none; 
      width: 7px;
      height: 3px;
    }
    .home .glider::-webkit-scrollbar-thumb {
      opacity: 1;
      border-radius: 99px;
      background-color: rgba(255, 255, 255, 0.918);
      box-shadow: 0 0 1px rgba(255,255,255,.25);
    }
  }  


/* Tablet */
@media (min-width:426px) {

    .home .banner img{
        display: none;
    }

    .home .bannerMobile img{
        position: absolute;
        width: 100vw;
        object-fit: contain;
      }   
      
      
  .home .bannerFalsoMobile img{
    width: 100vw;
    margin-top: 3%;
    object-fit: contain;
    visibility: hidden;
  }

    .mainHome .links {
        text-align: center;
        width: 90%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-self: center;
        align-items: center;
        margin-top: 4px;
        margin: 50px 20px 20px;
    }

    .mainHome .links section {
        width: 35vw;
        height: 30vw;
        text-align: center;
        justify-items: center;

    }

    .mainHome .links .gato {
        height: 30vw;
    }

    .mainHome .imgPerro {
        width: 19vw;
        height: 24vw;
        margin-top: 4vw;
        margin-right: -4vw;
    }

    
.mainHome .imgGato{
    width: 16vw;
    height: 19vw;
    margin-top: 8vw;
    margin-right: 0vw;
}

.mainHome .patitas {
    height: 17vw;
    width: 13vw;
    margin-left: 1vw;
}

.mainHome .imgMascotasP{
    display: flex;
    flex-direction: column;
    margin-top: 3px;
    margin-left: 5px;
    margin-right: 0;
}

.mainHome .imgMascotas{
    display: flex;
    flex-direction: column;
    margin-top: 3px;
    margin-left: 5px;
    margin-right: 0;
}

    .mainHome .dog,
    .cat,
    .paw,
    .envelop {
        width: 90%;
        height: 160px;
    }

    .mainHome .links section .perro a,
    .gato a {
        font-size: 20px;
        color: var(--colorAzulFrancia);
    }


    .mainHome .links .perro {
        height: 30vw;
        margin: 15px;
        display: flex;
        align-items: stretch;
        background-color: var(--colorNaranja);
        border-radius: 20px;
        padding: 8px;
    }

    .mainHome .dog {
        display: flex;
        justify-content: space-between;
        align-content: center;
    }

/*     .mainHome .perrosTexto{
        margin-top: 10px;
        margin-left: 10px;
    } */

    .mainHome .gatosTexto{
        margin-top: 5px;
        margin-bottom: 7px;
        margin-left: -3vw;
    }
    .mainHome .perrosTexto{
        margin-top: 5px;
        margin-bottom: 7px;
        margin-left: -3vw;
    }

    .mainHome .links .gato {
        height: 30vw;
        margin: 15px;
        display: flex;
        align-items: stretch;
        border-radius: 20px;
        padding: 8px;
        background-color: var(--colorAmarillo);
    }

    .mainHome .cat {
        display: flex;
        justify-content: space-between;
        align-content: center;
    }

    .mainHome .links .nosotros {
        height: 30vw;
        margin: 15px;
        font-size: 16px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: var(--colorCeleste);
        border-radius: 20px;
        padding: 8px;
    }

    .mainHome .paw {
        display: contents;
        flex-direction: column;
    }

    .mainHome .nosotros a,
    .contacto a {
        color: white;
        margin-top: 6px;
        margin-bottom: 2px;
        text-align: center;

    }

    .mainHome .links .contacto {
        height: 30vw;
        margin: 15px;
        font-size: 16px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        align-content: center;
        background-color: var(--colorAzulMarino);
        border-radius: 20px;
        padding: 8px;
    }

    .mainHome .envelop {
        display: contents;
        flex-direction: column;
    }

    .mainHome .links div i {
        width: 100%;
        font-size: 4.5rem;
        color: white;
        text-align: center;

    }

    .mainHome .perro a,
    .gato a,
    .contacto a,
    .nosotros a {
        font-family: var(--fuenteTitulos);
        font-weight: 700;
        font-size: 20px;
    }
    .mainHome .quienSomos{
        display: none;
    }
    


}

/* Desktop */
@media (min-width:1024px) {
    .mainHome {

        background-size: 100%;
        width: 100%;
        
        background-repeat: no-repeat;
      
        background-position: cover;
        margin-top: -5vw;
    }

    .home .bannerMobile img{
        display: none;
    }

    .home .bannerFalsoMobile img{
        display: none;
    }

    .home .banner1500 img {
        display: none;
    }

    .home .banner img{
        display: flex;
        position: absolute;
        width: 100vw;
        object-fit: contain;
      }

      .home .bannerFalso {
        margin-top: 30%;
        object-fit: contain;
      }

      .home .fondoFalso{
        margin-top: 50%;
      }

      .mainHome .carrouselDestacados{
        display: none;
      }

      .mainHome .section1 {
        display: none;
      }

      .mainHome .destacadosP {
        margin-top: 6px;
    }
        
  .mainHome .section2{
    display: flex;
    flex-direction: column;
  }

    .mainHome .section2 {
        position: relative;
        width: 100%;
        height: 151px;
        margin-top: 50px;
        margin-bottom: 20px;
        
        padding: 8px;
        text-align: center;
        font-size: large;
       
    }
   
    .mainHome .divTitulo{
        width: 100%;
    }

    .mainHome .spanTitulo{
        top: 680px;
        height: 48px;
        background-color: rgba(255, 255, 255, 0.918);
        padding: 11px;
        padding-top: 21px;
        padding-right: 30px;
        padding-left: 30px;
        border-radius: 40px;
        text-align: center;
    }
    
.mainHome .spanAzul {
    font-family: var(--fuenteTitulos);
    color: var(--colorAzulFrancia);
    text-align: center;
    margin-bottom: 30px;
    font-size: 40px;
    font-weight: 500;
}

.mainHome .spanNaranja {
    font-family: var(--fuenteTitulos);
    color: var(--colorNaranja);
    text-align: center;
    margin-bottom: 30px;
    font-size: 40px;
    font-weight: 500;
}

.mainHome .marcas{
    position: absolute;
    top: 680px;
    height: 48px;
    background-color: rgba(255, 255, 255, 0.918);
    padding: 7px;
    padding-right: 22px;
    padding-left: 22px;
    border-radius: 20px;
}

    .mainHome .logos {
        top: 783px;
        margin: 0 auto;
        width: 100%;
        height: 161px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
        background-color: white;
    }

    .mainHome .logos img {
        
        width: 23%;
        padding: 10px;
        height:  140px
        /*  margin-top: 10px; */
    }

 
    .mainHome .links {
        position: relative;
        text-align: center;
        width: 90%;
        display: flex;
        margin-top: -19vw;
     
    }
    
    .mainHome .perrosTexto{
        margin-top: 10px;
        margin-left: 10px;
    }

    .mainHome .gatosTexto{
        margin-top: 5px;
        margin-left: 10px;
        margin-bottom: 7px;
    }

    .mainHome .patitas{
        width: 115px;
        height: 157px;
        margin-left: 6px;
    }

    .mainHome .imgMascotasP{
        display: flex;
        flex-direction: column;
        margin-top: 3px;
        margin-left: 5px;
        margin-right: 0;
    }

    .mainHome .imgMascotas{
        display: flex;
        flex-direction: column;
        margin-right: 0;
    }

    .mainHome .links section .perro a, .gato a {
        text-align: left;
        color: var(--colorAzulFrancia);
    }

    .mainHome .links .perro {
        position: absolute;
        top: -900px;
        margin-right: 390px;
        text-align: left;
        width: 300px;
        height: 285px;
      
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: stretch;
        background-color: var(--colorNaranja);
        border-radius: 20px;
        padding: 8px;
    }
    .mainHome .dog{
        width: 300px;
        height: 285px;
    }

    .mainHome .imgPerro {
        width: 185px;
        height: 236px;
        margin-top: 35px;
        margin-right: -28px;
    }

    .mainHome .perro a {
        text-align: center;
        width: 30%;
        font-size: 30px;
    }

    .mainHome .imgGato{
        width: 153px;
        height: 183px;
        margin-top: 75px;
        margin-right: -7px;
    }

    .mainHome .links .gato {
        position: absolute;
        text-align: right;
        margin-left: 526px;
        top: -900px;
        width: 300px;
        height: 285px;
   
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: stretch;
        border-radius: 20px;
        padding: 8px;
        background-color: var(--colorAmarillo);
    }
    .mainHome .cat{
        width: 300px;
        height: 285px;
    }

    .mainHome .gato a {
        width: 30%;
        font-size: 30px;
    }

    .mainHome .links .nosotros {
        display: none;
   
    }

    .mainHome .nosotros a,
    .contacto a {
        color: white;
        margin-bottom: 2px;
        text-align: center;
    }

    .mainHome .links .contacto {
        display: none;
     
    }

    .mainHome .links div i {
        width: 100%;
        font-size: 75px;
        color: white;
        text-align: center;

    }

    .mainHome .quienSomos {
        background-color: rgba(255, 255, 255, 0.918);
        position: relative;
        bottom: -335px;
        display: flex;
        flex-direction: row;
        width: 100vw;
        text-align: center;
        display: flex;
        padding-top: 25px;
        padding-bottom: 54px;
        margin-bottom: 38%;
    }
    .mainHome .quienSomos img {
        width: 84%;
        margin-top: 124px;
        
    }

    .mainHome .textoColum{
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-right: 10px;
    }

    .mainHome .spanQuienesSomos{
        display: flex;
        flex-direction: row;
    }

    .mainHome .textoQuienes{
        font-family: var(--fuenteSubtitulos);
        color: var(--colorAzulFrancia);
        margin-bottom: 5px;
        margin-right: 15px;
        font-size: 60px;
        font-weight: 500;
    }

    .mainHome .textoSomos{
        font-family: var(--fuenteSubtitulos);
        color: var(--colorNaranja);
        margin-bottom: 5px;
        margin-left: 5px;
        font-size: 60px;
        font-weight: 500;
    }

    .mainHome .spanParrafo{
        text-align: left;
        color: black;
        font-size: 22px;
        font-family: var(--fuenteSubtitulos);
        font-weight: 500;
    }


}

@media (min-width:1500px) {

    .mainHome {

        background-size: 100%;
        width: 100%;
        
        background-repeat: no-repeat;
      
        background-position: cover;
        margin-top: -17vw;
    }

    .home .banner {
        display: none;
    }
    
  .mainHome .section2{
    display: flex;
  }
 
  .mainHome .section2 {
    position: relative;
    width: 100%;
    height: 151px;
    margin-top: 50px;
    margin-bottom: 20px;
    
    padding: 8px;
    text-align: center;
    font-size: large;
   
}

    .home .banner1500 img{
        display: flex;
        position: absolute;
        width: 100vw;
        object-fit: contain;
      }

    .mainHome .links {
        position: relative;
        text-align: center;
        width: 90%;
        display: flex;
        margin-top: -12vw;
    }

    
    .mainHome .quienSomos {
        bottom: -270px;
    }

    .mainHome .quienSomos img {
        width: 84%;
        margin-top: 50px;
        
    }
}



