
.register .section1{
    background-color: rgba(255, 255, 255, 0.918);
    border-radius: 25px;
    padding-bottom: 45px;
    padding-top: 0px;
    padding-left: 35px;
    padding-right: 35px;
    margin-top: 50px;
}

.register .article1{
    display: flex;
    flex-direction: column;
    
    width: 100%;
    margin: 0 auto;
    max-width: 500px;
}

.register section.container-image{
    display: none;
}
.register .container .contrasenia {
    width: 100%;
    position: relative;
}

.register  .container .contrasenia i {
    position: absolute;
    color: var(--colorAzulFrancia);
    top: 4px;
    right: 2px;
    padding: 10px;
}

.register .cuenta {
    padding: 13px;
    background-color: var(--colorAzulFrancia);
    color: white;
    font-weight: 400;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    width: 100%;
}

.register .cuenta:hover {
    background-color: var(--colorAzulMarino);
}

.register h2{
    color: white;
    background-color: var(--colorNaranja);
    width: 300px;
    font-weight: bold ;
    text-align: center;
    padding: 5px;
    
    border-radius: 25px;
    font-family: var(--fuenteSubtitulos);
    /* font-size: 50px; */
    margin: 20px 0;
}

.register .subtitulo{
    margin-left: 270px;
    width: 100%;
    font-size: 20px;
    text-align: left;
    margin-bottom: -15px;
}

.register input {
    width: 100%;
    padding: 10px;

    background-color: var(--colorGris);
    font-size: x-small;
    border-radius: 25px;
    /* margin-bottom: 50px; */
    font: message-box;
    border:solid 3px var(--colorAmarillo);
}

.register input:focus-visible{
    outline: 3px solid var(--colorAmarillo);
}

.register #nombre #apellido #email #contrasenia #contrasenia{
    color: var(--colorCeleste);
    font-family: var(--fuenteSubtitulos);
}

.register h4{
    margin: 44px 73px;
    color: var(--colorCeleste);
    text-align: center;

}
.register p{
    margin: 2px;
    color: var(--colorCeleste);
}    
.register a{

    color: var(--colorAzulFrancia);
}
.register section{
    width: 100%;
    max-width: 800px;
    font-family: var(--fuenteTitulos);
}
.register section form{
    width: 100%;
}
.register section form .container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: center;
    font-weight: bold;
}
.register label{
    color: var(--colorAzulFrancia);
}    
.register section{
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.register section form .container{
    margin-bottom: 15px;
}
.register .imagenPerfil label{
    background-color: var(--colorNaranja);
    padding: 12px;
    border-radius: 12px;
    border: 1px solid white;
    margin-bottom: 20px;
    color: white;
}

.register .imagenPerfil input{
    display: none;
}
.register .inputImagen{
  
    border:solid 1px var(--colorNaranja);
    margin-bottom: 15px;
     
}

.register small{
    color: var(--colorNaranja)
}


.register .imgPosicion{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    padding: 20px;
}

.register .imgPerfil{
    display: flex;
    flex-direction: row;
    justify-content: center;
    
    height: 100px;
    width: 100px;
    overflow: hidden;
    
    background-repeat: no-repeat;
    background-size: 100% auto;
    border-radius: 50%;
    border: 3px solid white;
    
}

.register .imgPerfil img{
    height: auto;
    width: auto;
}
.img-thumbnail {
    padding: 0;
    background-color: none;
    border: none;
    border-radius: none;
    max-width: 100%;
    height: auto;
}

   .custom-input-file {
    background-color: var(--colorAzulFrancia);
    color: white;
    cursor: pointer;
    font-size: 18px;
    margin: 0 auto 0;
    min-height: 15px;
    overflow: hidden;
    padding: 5px;
    padding-bottom: 0px;
    position: relative;
    text-align: center;
    width: 50%;
    border-radius: 10px;
  }

  .custom-input-file:hover{
    background-color: var(--colorAzulMarino);
  }
  
  .custom-input-file .input-file {
   border: 10000px solid transparent;
   cursor: pointer;
   font-size: 10000px;
   margin: 0;
   opacity: 0;
   outline: 0 none;
   padding: 0;
   position: absolute;
   right: -1000px;
   top: -1000px;

  }

  .register .imagentext{
    color: white;
  }
