.carrito .main{
    padding: 15px;
}


.carrito .sectionUno{
    background-color: white;
    border: 3px solid var(--colorAmarillo);
    border-radius: 20px;
}

.carrito .secciones{
    background-color: var(--colorAmarillo);
    border-radius: 20px;
    
    color: var(--colorAzulMarino);
    font-family: var(--fuenteSubtitulos);
    font-weight: 600;
    font-size: 17px;

    display: none;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.carrito .productoUno{
    width: 25%;
    margin-bottom: 5px;
    padding: 10px;
}

.carrito .precioUno{
    margin-left: 9%;
    margin-bottom: 5px;
    padding: 10px;
}

.carrito .cantidadUno{
    margin-bottom: 5px;
    padding: 10px;
}

.carrito .imagenes .img{
    height: 110px;
    width: 80px;
    object-fit: contain;
}

.carrito .a{
    color: var(--colorAzulFrancia);
    font-family: var(--fuenteSubtitulos);
    font-size: 17px;
    width: 50%;
    height: 15%;
    margin-left: 2%;
    margin-top: 5px;
    
    
    font-weight: 600;
    line-height: 16px;
}

.carrito .productoDetalle{
    display: flex;
    flex-direction: row;
    align-items: center;
}



.carrito .precioLista{
    color: var(--colorAzulFrancia);
    font-family: var(--fuenteSubtitulos);
    font-size: 27px;
    font-weight: 700;

}

.carrito .agregarNum{
    border: 3px solid var(--colorAmarillo);
    border-radius: 20px;
    width: 50px;
    height: 31px;
    margin-left: 5px;
    margin-right: 8px;

    text-align: center;
    font-size: 17px;
    font-family: var(--fuenteSubtitulos);
    font-weight: 700;
    color: var(--colorAzulMarino);
}

.carrito .botonAgregar, .botonSacar{
    border: none;
    color: var(--colorAzulFrancia);
    font-size: 20px;
}

.carrito .articuloUno{
    padding: 5px 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}


.carrito .precioAgregar{
    height: fit-content;
    text-align: center;
    margin-right: 10%;
    margin-left: 10%;
}

.carrito .agregar{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 12px;
}

.carrito .borde{
    height: 3px;
    background-color: var(--colorAmarillo);

}

.carrito .seguirActualizar{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 6px;
    
}

.carrito .seguirComprando{
    font-size: 17px;
    font-family: var(--fuenteSubtitulos);
    font-weight: 600;
    color: var(--colorNaranja);
}

.carrito .actualizar{
    color: var(--colorHueso);
    font-size: 18px;
    font-weight: 600;
    
    background-color: var(--colorAmarillo);
    border-radius: 15px;
    padding: 5px;
    padding-left: 14px;
    padding-right: 14px;
    border: none;
}

.carrito .eliminar{
    border: none;
    color: var(--colorNaranja);
    font-size: 30px;

    display: flex;
}

.carrito .sectionDos{
    margin-top: 15px;
    background-color: var(--colorGris);
    border-radius: 20px;
    margin-bottom: 50px;
}

.carrito .fondoCuadroDos{
    background-color: var(--colorCeleste);
    height: 49px;
    border-radius: 20px;
    
    display: flex;
    align-items: center;

}

.carrito .totalCarrito{
    font-size: 24px;
    font-family: var(--fuenteSubtitulos);
    font-weight: 600;
    color: white;
    margin-left: 20px;

}

.carrito .filaPrecios{
    color: var(--colorAzulMarino);
    font-family: var(--fuenteSubtitulos);
    font-size: 22px;
    font-weight: 600;

    height: fit-content;
    text-align: center;
    line-height: 48px;
    padding: 10px;
    margin-right: 50px;
}

.carrito .filaTexto{
    color: var(--colorAzulMarino);
    font-family: var(--fuenteSubtitulos);
    font-size: 22px;
    font-weight: 600;

    height: fit-content;
    text-align: left;
    line-height: 50px;
    padding: 10px;
    margin-left: 15px;
}

.carrito .articuloFila{
    padding: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.carrito .envio{
    font-weight: 800;
}

.carrito .precioFinal{
    font-size: 2rem;
    
}

.carrito .finalizar{
    color: var(--colorHueso);
    font-size: 18px;
    font-weight: 600;
    
    background-color: var(--colorAzulFrancia);
    border-radius: 15px;
    padding: 5px;
    padding-left: 14px;
    padding-right: 14px;
    border: none;
    margin-bottom:10px;
    margin-right: 30px;
}

.carrito .divFinalizar{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

@media (min-width:426px){
    .carrito .secciones{
        display: flex;
    }
}

