/* Fuente a utilizar */
@import url('https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2:wght@400;600;800&family=Mukta:wght@200;300;500;700&display=swap');

:root{
/*colores*/
--azulOscuro:#1f66b2;
--azulMedio:#1c7eed;
--azulClaro:#88b6db;
--amarillo:#fddf65;
--naranja:#f0a52a;
--blanco:#dcebf0;
--blancoAzulado:#f3f4f6;

/*fuentes*/
--fuentePrincipal:'Baloo Tammudu 2', cursive;
--fuenteSecundaria:'Mukta', sans-serif;

/*tamaños tipográficos*/
--cuerpoDeTexto: 12px;
--titulares: 24px;
--precios: 18px;



}