.vistaProductos h1{
    width: 100%;
    text-align: center;
    color: var(--colorAzulFrancia);
    font-family: var(--fuenteTitulos);
    font-size: 36px;
}
.vistaProductos h2{
    width: 100%;
    text-align: center;
    color: var(--colorAzulMarino);
    font-family: var(--fuenteSubtitulos);
    font-size: 30px;
}