<!DOCTYPE html>
<html lang="es">

    <%- include('./partials/head',{title: 'Carrito'}) %> 

<body class="carritoUno">
    <header>
        <div class="top">
            <div class="logo">
                <a href="/"><img src="img/LogoMundoPets.png" alt="logo Mundo Pets"></a>
            </div>
        </div>
        <div class="Uno">
            <nav>
                <div class="carrito">
                    <i class="fas fa-shopping-cart"></i> <a href="/site_mundoPets/views/carrito.html"></a>
                    <!-- link carrito -->
                </div>
                <div class="buscador">
                    <input type="text" maxlength="100" placeholder="Buscar"> <!-- barra buscador -->
                </div>
                <span class="lupa">
                    <i class="fas fa-search"></i>
                </span>
                <div class="user">
                    <i class="fas fa-user"></i>
                    <a href="/site_mundoPets/views/login.html "></a><!-- login & register -->
                </div>

                <div class="menu">
                    <i class="fas fa-bars"></i> <!-- menu hamburguesa -->
                </div>
            </nav>
        </div>
    </header>
    <main class="main">
        <div class="sectionUno">
            <section>
                <div class="backgroundAmarillo"></div>
                <table class="tabla">
                    <thead>
                        <tr class="titulosTabla">
                            <div class="marcoAmarillo"></div>
                            <th>producto</th><th>precio</th><th>cantidad</th><th></th>
                        </tr>
                    </thead>
                        <tr>
                            <td>
                                <div class="productoDetalle">
                                    <img src="/img/ga-agility-gato-adulto.jpg" class="img" alt="agility gato adulto">
                                    <a href="/detalle" class="a">Agility gato adulto</a>
                                </div>
                            </td>
                            <td>
                                <div class="precioListaDesktop">
                                    <p class="precioLista">$5.320</p>
                                </div>
                            </td>
                            <td>
                                <div class="precio">
                                    <div class="precioListaMovil">
                                        <p class="precioLista">$5.320</p>
                                    </div>
                                    <div>
                                        <div class="agregar">
                                            <button class="botonAgregar"><i
                                                    class="fa-solid fa-circle-minus"></i></button>
                                            <input type="number" class="agregarNum" value="1">
                                            <button class="botonSacar"><i class="fa-solid fa-circle-plus"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td><button class="eliminar"><i class="fa-solid fa-circle-xmark"></i></button></td>
                        </tr>
                        <tr>
                            <td>
                                <div class="productoDetalle">
                                    <img src="/img/infinity-perro-cachorro-10kg.jpg" class="img" alt="infinity perro cachorro 10kg">
                                    <a href="/detalle" class="a">infinity perro cachorro 10kg</a>
                                </div>
                            </td>
                            <td>
                                <div class="precioListaDesktop">
                                    <p class="precioLista">$7.960</p>
                                </div>
                            </td>
                            <td>
                                <div class="precio">
                                    <div class="precioListaMovil">
                                        <p class="precioLista">$7.960</p>
                                    </div>
                                    <div>
                                        <div class="agregar">
                                            <button class="botonAgregar"><i
                                                    class="fa-solid fa-circle-minus"></i></button>
                                            <input type="number" class="agregarNum" value="1">
                                            <button class="botonSacar"><i class="fa-solid fa-circle-plus"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td><button class="eliminar"><i class="fa-solid fa-circle-xmark"></i></button></td>
                        </tr>
                    
                </table>
                <div class="borde"></div>
                <div class="seguirActualizar">
                    <p class="seguirComprando">seguir comprando</p>
                    <span><button onClick="window.location.reload();" class="actualizar">actualizar</button></span>
                </div>
            </section>
        </div>
        <div class="sectionDos">
        <section>
                <div class="fondoCuadroDos">
                    <div class="totalCarrito">Total del carrito</div>
                </div>
                <article>
                    <div class="articuloFila">
                        <div class="filaTexto">
                            <div>Subtotal</div>
                            <div class="envio">Envío</div>
                            <div>Total</div>
                        </div>
                        <div class="filaPrecios">
                            <div>$13.280</div>
                            <div>$0</div>
                            <div class="precioFinal">$13.280</div>
                        </div>
                    </div>
                    <div class="divFinalizar"><button class="finalizar">Finalizar Compra</button></div>
                </article>
            </section>
        </div>
    </main>
    <footer>
        <section class="foot">
            <ul class="lista">
               <li>Productos</li>
               <li>Perros</li> <a href="/perros.html"></a>
               <li>Adultos</li>
               <li>Cachorros</li>
               <li>Gatos</li> <a href="/gatos.html"></a>
               <li>Adultos</li>
               <li>Cachorros</li>
            </ul>
            <article class="compra">
                <i class="fas fa-map-marker-alt"></i> <h4>Donde Comprar</h4>
            </article>
            <article class="llamar">
                <i class="fab fa-whatsapp"></i>
                <h4>Contacto</h4>
            </article>
            <div class="logohome">
                <a href="/"><img src="img/LogoMundoPets.png" alt="logo Mundo Pets"></a>
            </div>
        </section>
        <section class="pie">

            <article class="contactanos">
                <i class="fas fa-headset"></i>
                <a href="mailto:user@server.com"></a>
                <h4>¿Alguna duda?Contactanos</h4><!-- contacto -->
            </article>
            <article class="maps">
                <i class="fas fa-map-marker-alt"></i> <!-- ubicacion -->
            </article>
            <article class="whatsapp">
                <i class="fab fa-whatsapp"></i>
                <a href="tel:1136370707"></a>
            </article>
            <article class="gatito">
                <div class="kitty">
                    <img src="img/gatito2.webp" alt="gatito tierno fondo amarillo">
                </div>
            </article>
            <p>Copyriht <i class="fas fa-copyright"></i> 2022 Mundo Pets | Todos los derechos reservados|</p>

        </section>

    </footer>
</body>
</html>
