<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrito</title>
</head>
<body>
    <div><span>producto</span>
    <span>precio</span>
    <span>cantidad</span></div>

    <div><span><img src="/img/infinity-perro-cachorro-10kg.jpg" alt="infinity-perro-cachorro-10kg"></span>
        <span><a href="/view/detalle.html">infinity perro cachorro 10kg</a></span>
        <span>$5.320</span>
        <span>- 2 +</span>
        <span>x</span></div>

        <div><span>seguir comprando</span>
        <span><a href="javascript:document.location.reload();">actualizar</a></span></div>

        <p>total del carrito</p>
        <div><span>Subtotal</span>
        <span>$10.640</span></div>
        <div><span>Envío</span>
        <span>$0</span></div>
        <div><span>Total</span>
        <span>$10.640</span></div>
        <div>Finalizar compra</div>
    

</body>
</html>