<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrito</title>
    <link rel="stylesheet" href="/css/carrito.css">
</head>
<body class="carrito">
    <section>
        <article class="aUno">
            <span class="sUno">producto</span>
            <span class="sDos">precio</span>
            <span class="sTres">cantidad</span>
        </article>
    </section>

    <section>
        <article>
            <img src="/img/infinity-perro-cachorro-10kg.jpg" alt="infinity-perro-cachorro-10kg">
            <a href="/view/detalle.html">infinity perro cachorro 10kg</a>
            <span class="sCuatro">$5.320</span>
            <span class="sCinco">- 2 +</span>
        </article>
    </section>

        <article>
            <span class="naranja">x</span>
        </article>

        <article>
            <span class="naranja">seguir comprando</span>
            <span><button onClick="window.location.reload();">actualizar</button></span>
        </article>
    </section>
 
    <section>
        <article class="colorHueso">
            <p>total del carrito</p>
        </article>
        <article class="colorAzulMarino">
            <span>Subtotal</span>
            <span>$10.640</span>
        </article>
        <article class="colorAzulMarino">
            <span>Envío</span>
            <span>$0</span>
        </article>
        <article class="colorAzulMarino">
            <span>Total</span>
            <span>$10.640</span>
        </article>
        <article class="colorHueso">
            <div>Finalizar compra</div>
        </article>
    </section>
    

</body>
</html>