<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- FontAwesome -->
    <script src="https://kit.fontawesome.com/e5e17dceab.js" crossorigin="anonymous"></script>
    <!-- Css -->
    <link rel="stylesheet" href="/css/styles.css">
    <title>Detalle de producto</title>
</head>

<body class="detalle">
    <header>
        <p> logo mundo pets</p>
    </header>

    <main>
        <section>
            <div class="imagen-principal">
                <img src="/img/infinity-perro-cachorro-10kg.jpg" alt="infinity-perro-cachorro-10kg">
            </div>
            <!-- <div>
                imagenes secundarias "carrousel"
            </div> -->
            <section>
                <h1>infinity perro cachorro 10kg</h1>
                <p class="precio">$5.320</p>
                <div class="contenedor">
                    <div class="sumar-carrito"><!-- boton de cantidad -->
                        <div class="restar">-</div>
                        <input type="number">
                        <div class="agregar">+</div>
                    </div>
                    <button>Comprar <a href="./carrito.html"></a> </button> <!-- boton de agregar al carrito -->
                </div>
            </section>
            <section class="detail">
                <h2>Detalle del producto</h2>
                <p>Infinity es un alimento premium con los mejores ingredientes. Un alimento rico, de alta
                    digestibilidad, que a él le deja el pelo brillante y a vos la alegría de verlo más vital que nunca.
                </p>
            </section>
            <section class="prod-similares">
                <h2>Productos Similares</h2>
                <article>
                    <div>
                        <img src="/img/pa-agility-perro-adulto.jpg" alt="">
                        <h4>Agility adulto</h4>
                    </div>
                    <div>
                        <img src="/img/pa-balanced-perro-adulto-cerdo-y-arroz-15kg.jpg" alt="">
                        <h4>Balanced saborizado</h4>
                    </div>
                    <div>
                        <img src="/img/pa-biopet-criadores-20kg.jpg" alt="">
                        <h4>Biopet</h4>
                    </div>
                    <div>
                        <img src="/img/pa-eukanuba-adulto-large.jpg" alt="">
                        <h4>Eukanuba adulto</h4>
                    </div>
                </article>
            </section>
    </main>

    <footer>
        <div></div>
        <div></div>
    </footer>
</body>

</html>