<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- FontAwesome -->
    <script src="https://kit.fontawesome.com/e5e17dceab.js" crossorigin="anonymous"></script>
    <!-- Css -->
    <link rel="stylesheet" href="/css/styles.css">
    <title>Mundo Pets</title>
</head>
    <body class="home">
        <header>
            <div class="top">
                <div class="logo">
                    <a href="/"><img src="img/LogoMundoPets.png" alt="logo Mundo Pets"></a>
                </div>
            </div>
            <div class="Uno">
              <nav>
                <div class="carrito">
                     <a href="/carrito"><i class="fas fa-shopping-cart"></i></a> <!-- link carrito -->
                </div>
                <div class="buscador">
                    <input type="text" maxlength="100" placeholder="Buscar">  <!-- barra buscador -->
                </div>
                <span class="lupa">
                    <i class="fas fa-search"></i>
                </span>
                <div class="user">
                    
                    <a href="/login"><i class="fas fa-user"></i></a><!-- login & register -->
                </div>
                
                <div class="menu">
                    <i class="fas fa-bars"></i> <!-- menu hamburguesa -->
                </div>
             </nav>
            </div>
        </header>
    <main class="mainHome">
        <section class="banner">
            <h2>Pensando en ellos</h2>
            <img src="img/banner.jpg" alt="">
        </section>
        <section class="section1">
            
            <h3 class="marcas">NUESTRAS MARCAS</h3>
            
            <div class="logos">
                <img src="img/proplan_logo.png" alt="logo proplan">
                <img src="img/royalcanin_logo.png" alt=" logo royal canin">
                <img src="img/infinity_logo.png" alt="logo infinity ">
            </div>
        </section>
        <section class="destacadosP">
            <h3>Productos destacados</h3>
           </section> 
        <section class="carrousel">
            
            <i class="fas fa-chevron-left"></i>
            <article>
                <div class="image">
                    <img src="img/carrusel1.png" alt="alimento balanceado">

                </div>
            </article>
            <article>
                <div class="image">
                    <img src="img/carrusel2.png" alt="alimento balanceado">

                </div>
            </article>
            <article>
                <div class="image">
                    <img src="img/carrousel3.png" alt="alimeno balanceado">
                </div>
            </article>
            <i class="fas fa-chevron-right"></i>
        </section>
        <div class="links">
            <section class="perro">
               
               <div class="dog">
                <a href="/perros">Perros</a>
                <img src="img/perro1.png" alt="">
               </div>
            </section>
            <section class="gato">
               
                <div class="cat">
                    <a href="/gatos">Gatos</a>
                    <img src="img/gato1.png" alt="">
                </div>
            </section>
            <section class="nosotros">
                <div class="paw">
                    <i class="fas fa-paw"></i>
                    <a href="/nosotros">Sobre Nosotros</a>
                </div>
            </section>
            
            <section class="contacto">
                <div class="envelop">
                    <i class="fas fa-envelope"></i>
                    <a href="/contacto">Contacto</a>
                </div>
            </section>
        </div>
        <section class="quienSomos">
            <img src="/img/quienes.somos.png" alt="">
            <p>¿Quienes Somos? <br>
                Somos una empresa dedicada a la nutricion y venta de alimentos para mascotas.Te ofrecemos las mejores marcas de balanceado para perros y gatos.Siempre pensando en lo mejor para ellos,nuestros amigos de 4 patas.Brindamos  asesoramiento para elegir la mejor opcion segun las necesidades de  tu mascota.Tenemos amplia variedad de productos y contamos con el mejor precio del mercado.    </p>
        </section>

    </main>
    <footer>
        <section class="foot">
            <ul class="lista">
               <li>Productos</li>
               <li>Perros</li> <a href="/perros.html"></a>
               <li>Adultos</li>
               <li>Cachorros</li>
               <li>Gatos</li> <a href="/gatos.html"></a>
               <li>Adultos</li>
               <li>Cachorros</li>
            </ul>
            <article class="compra">
                <i class="fas fa-map-marker-alt"></i> <h4>Donde Comprar</h4>
            </article>
            <article class="llamar">
                <i class="fab fa-whatsapp"></i>
                <h4>Contacto</h4>
            </article>
            <div class="logohome">
                <a href="/"><img src="img/LogoMundoPets.png" alt="logo Mundo Pets"></a>
            </div>
        </section>
        <section class="pie">

            <article class="contactanos">
                <i class="fas fa-headset"></i>
                <a href="mailto:user@server.com"></a>
                <h4>¿Alguna duda?Contactanos</h4><!-- contacto -->
            </article>
            <article class="maps">
                <i class="fas fa-map-marker-alt"></i> <!-- ubicacion -->
            </article>
            <article class="whatsapp">
                <i class="fab fa-whatsapp"></i>
                <a href="tel:1136370707"></a>
            </article>
            <article class="gatito">
                <div class="kitty">
                    <img src="img/gatito2.webp" alt="gatito tierno fondo amarillo">
                </div>
            </article>
            <p>Copyriht <i class="fas fa-copyright"></i> 2022 Mundo Pets | Todos los derechos reservados|</p>

        </section>

    </footer>
</body>