<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- FontAwesome -->
    <script src="https://kit.fontawesome.com/e5e17dceab.js" crossorigin="anonymous"></script>
    <!-- Css -->
    <link rel="stylesheet" href="/css/styles.css">
    <title>Mundo Pets</title>
</head>

<body class="home">
    <header class="header">
        <article class="logo">
            <img src="img/LogoMundoPets.png" alt="logo Mundo Pets">
        </article>
        <nav class="top">
            
            <div class="carrito">
                <i class="fas fa-shopping-cart"></i> <a href=" "></a> <!-- link carrito -->
            </div>
            <div class="buscador">
                <input type="text" maxlength="100" placeholder="Buscar"> <i class="fas fa-search"></i> <!-- barra buscador -->
            </div>
            <div class="user">
                <i class="fas fa-user"></i>
                <a href=" "></a><!-- login & register -->
            </div>
            
            <div class="menu">
                <i class="fas fa-bars"></i> <!-- menu hamburguesa -->
            </div>
        </nav>
        <div>
            <p>
                <h2>Pensando en ellos</h2>
            </p>
        </div>
       
    </header>
    <main>
        <section class="section1">
            <p>
            <h3>NUESTRAS MARCAS</h3>
            </p>
            <div class="marcas">
                <img src="img/proplan_logo.png" alt="logo proplan">
                <img src="img/royalcanin_logo.png" alt=" logo royal canin">
                <img src="img/infinity_logo.png" alt="logo infinity ">
            </div>
        </section>
        <section class="carrousel">
            <i class="fas fa-chevron-left"></i>
            <article>
                <img src="img/carrusel1.png" alt="alimento balanceado">
            </article>
            <article>
                <img src="img/carrusel2.png" alt="alimento balanceado">
            </article>
            <article>
                <img src="img/carrusel 3.png"  height="auto"  alt="alimeno balanceado">
            </article>
            <i class="fas fa-chevron-right"></i>
        </section>
        <div class="links">
            <section>
                <article>
                    <a href="/views/perros.html">Perros</a>
                    <img src="img/perro1.png" alt="">
                </article>
            </section>
            <section>
                <a href="/views/gatos.html">Gatos</a>
                <img src="img/gato1.png" alt="">
            </section>
            <section>
                <a href="/views/nosotros.html"></a>
                <i class="fas fa-paw"></i>
            </section>
            <section>
                <a href="/views/contacto.html"></a>
                <i class="fas fa-envelope"></i>
            </section>
        </div>
        
    </main>
    <footer>
        <section>
         
                <article>
                    <i class="fas fa-user-headset"></i> 
                    <a href="mailto:user@server.com"></a>
                    <h4>¿Alguna duda?Contactanos</h4><!-- contacto -->
                </article>
                <article>
                    <i class="fas fa-map-marker-alt"></i> <!-- ubicacion -->
                </article>
                <article>
                    <i class="fab fa-whatsapp"></i> 
                    <a href="tel:1136370707"></a>
                </article>
                <article>
                    <img src="img/gatito2.webp" alt="gatito tierno fondo amarillo">
                </article>
                <p>Copyriht <i class="fas fa-copyright"></i> 2022 Mundo Pets | Todos los derechos reservados|</p>
       
        </section>

    </footer>
</body>