<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head',{title: 'Sobre Nosotros'}) %> 
<body>
    <header>
        <i class="fas fa-construction"></i> <h1>Lo sentimos!Página en construcción</h1>
    </header>
   
</body>
