<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- FontAwesome -->
    <script src="https://kit.fontawesome.com/e5e17dceab.js" crossorigin="anonymous"></script>
    <!-- Css -->
    <link rel="stylesheet" href="/css/styles.css">
    <title>Sobre Nosotros</title>
</head>
<body>
    <header>
        <i class="fas fa-construction"></i> <h1>Lo sentimos!Página en construcción</h1>
    </header>
   
</body>
