<!DOCTYPE html>
<html lang="en">

    <%- include('./partials/head',{title: 'Mundo Pets'}) %> 

<body class="productos">
    <%- include('./partials/header') %> 
    <main>

       <!-- include banner colocar aca  -->
        <!-- Categoria -->
        
        <h1>Todos nuestros Productos</h1>

     <section>
        <% productos.forEach(producto => { %>
           
            <%- include('./partials/cards',{
                id : producto.id,
                imagenes : producto.imagenes[0],
                titulo : producto.titulo,
                marca : producto.marca,
                descripcion : producto.descripcion,
                descuento : producto.descuento,
                precio : producto.precio
    
    
              }) %> 
         
        <% }) %> 
    </section>
    
  </main>
  <%- include('./partials/footer') %> 
</body>
</html>
     
     
     
     
     
     
     
     
       