<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/901c43a415.js" crossorigin="anonymous"></script>

    <title>Document</title>
</head>
<body class="carrito">
    <main class="main">
        <section class="sectionUno">
            <table>
                <thead>
                    <tr class="secciones">
                        <th class="productoUno">producto</th><th class="precioUno">precio</th><th class="cantidadUno">cantidad</th>
                    </tr>
                    <tr>
                        <td>
                            <div class="productoDetalle">
                                <div class="imagenes">
                                    <img class="img" src="/img/ga-agility-gato-adulto.jpg" alt="agility gato adulto">
                                </div>
                            <div class="divDetalle">
                                <a href="/detalle" class="a">Agility gato adulto</a>
                            </div>
                            </div>
                        </td>
                        <td>
                            <div class="precioAgregar">        
                                <div>
                                    <p class="precioLista">$5.320</p>
                                </div>
                                <div>
                                    <div class="agregar">
                                        <button class="botonAgregar"><i class="fa-solid fa-circle-minus"></i></button>
                                        <input type="number"  class="agregarNum" value="1">
                                        <button class="botonSacar"><i class="fa-solid fa-circle-plus"></i></button> 
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td><button class="eliminar"><i class="fa-solid fa-circle-xmark" ></i></button></td>
                    </tr>
                </thead>
            </table>
        </section>
    </main>
</body>
</html>