<footer>
    <section class="foot">
        <article class="fondoAzul">
            <div class="footerDesktop">
        <ul class="lista">
           <li>Productos</li>
           <li><a href="/productos/Perro ">Perros</a></li>
           <li><a href="/productos/Gato ">Gatos</a></li>
        </ul>
        <div class="divColum">
        <article class="mapsDesktop">
            <h4 class="textoH4">Donde Comprar</h4>
            <a href="https://goo.gl/maps/dBXKhgS7HfVfiNde8"><i class="fas fa-map-marker-alt"></i></a>
        </article>
        <article class="whatsappDesktop">
            <h4 class="textoH4">Contacto</h4>
            <a href="https://web.whatsapp.com/"> <i class="fab fa-whatsapp"></i></a>
            
        </article>
    </div>
        <div class="logo">
            <a href="/"><img src="/img/LogoMundoPets.png" alt="logo Mundo Pets"></a>
        </div>
    </div>
        <section class="footerMobile">
    
            <article class="contactanos">
                <a href="mailto:user@server.com"><i class="fas fa-headset"></i></a><!-- contacto -->
                <h4 class="textoContactanos">¿Alguna duda?<br> Contactanos</h4>
            </article>
            <article class="maps">
                <a href="https://goo.gl/maps/dBXKhgS7HfVfiNde8"><i class="fas fa-map-marker-alt"></i></a>  
            </article>
            <article class="whatsapp">
               
                <a href="https://web.whatsapp.com/"> <i class="fab fa-whatsapp"></i></a>
            </article>
        </section>
    </article>
        <div class="kitty">
            <img src="/img/gatito2.png" alt="gatito tierno fondo amarillo">
        </div>
    </section>
        <div class="copyright">
        <p>Copyright <i class="fas fa-copyright"></i> 2022 Mundo Pets | Todos los derechos reservados|</p>
    </div>

</footer>
           
<script src="/javascripts/glider.js"></script>
<script src="/javascripts/productos.js"></script>
<script src="/javascripts/register.js"></script> 
<script src="/javascripts/login.js"></script> 

          