<header>
  <div class="top">
<nav class="nav">
<div class="logo">
  <a href="/"><img src="/img/LogoMundoPets2.png" alt="logo Mundo Pets"></a>
</div>
<div class="carrito">
  <a href="/productos/carrito"><i class="fas fa-shopping-cart"></i></a> 
</div>
<div class="usuario">
  <% if (locals.usuarioLogin) { %>
    <a href="/usuarios/perfil"> Bienvenid@ <%=locals.usuarioLogin.nombre %></a>
  <% } else { %>
    <a href="/usuarios/login"><i class="fas fa-user"></i></a>

  <% } %>
  <li><a href="/usuarios/register">Creá tu cuenta</a></li>
</div>
<div class="buscador">
  <form action=" " method="post" target="_blank"></form>
  <input type="search" name= "Buscar" class="icono-placeholder" maxlength="100" placeholder="Buscar  " >  
 <!--  <button type="submit"> <i class="fas fa-search"></i></button> -->
</div>
<div class="admin">
  <% if (locals.usuarioLogin && locals.usuarioLogin.rol === "Administrador") { %>
    <li><a href="/admin/lista">ADMIN</a></li>  
  <% } %>
</div>
<div class="burger">
  <input type="checkbox" name="burger" id="burger" checked>
  <label for="burger"><i class="fas fa-ellipsis-v"></i></label>
  <nav class="menusup">
    <ul class="menu">
      <% if (locals.usuarioLogin) { %>
        <li><a href="/usuarios/perfil">Mi perfil</a></li> 
      <% } else { %>
        <li><a href="/usuarios/login">Ingresá</a></li>
        <% } %>
        <li><a href="/productos/carrito">Carrito</a></li>
        <li><a href=" ">Mis compras</a></li>
        <li><a href="/productos">Todos los productos</a></li>
        <li><a href="/vistaProductos/Perro">Categoría Perro</a></li>
        <li><a href="/vistaProductos/Gato">Categoría Gato</a></li>
        <li><a href="/contacto">Contacto</a></li>
        <li><a href="/usuarios/cerrarSesion?_method=DELETE">Cerrar sesión</a></li>
      </ul>
    </nav>
  </div>
</nav>
  </div>
</header>