<!DOCTYPE html>
<html lang="es">

<%- include('./partials/head',{title: 'MundoPets' }) %>

    <body class="home">
        <section class="banner1500">
            <img src="img/bannerHome1500.png" alt="">
        </section>
        <section class="banner">
            <img src="img/bannerHome.png" alt="">
        </section>


        <%- include('./partials/header') %>
        <div class="mainMobile">
            <section class="bannerMobile">
                <img src="img/bannerHomeMobile.png" alt="">
            </section>
            <section class="section1">
                <div class="divTitulo">
                    <span class="spanTitulo">
                        <span class="spanAzul">NUESTRAS </span>
                        <span class="spanNaranja">MARCAS</span>
                    </span>
                </div>
                <div class="logos">
                    <img src="img/proplan_logo.png" alt="logo proplan">
                    <img src="img/royalcanin_logo.png" alt=" logo royal canin">
                    <img src="img/infinity_logo.png" alt="logo infinity ">
                </div>
            </section>
            <section class="destacadosP">
                <span class="spanTitulo">
                    <span class="spanAzul">LOS MÁS </span>
                    <span class="spanNaranja">DESTACADOS</span>
                </span>
            </section>
        </div>
            <section class="carrouselProductos">
                <div class="glider-contain">
                    <div class="glider">
                        <% productos.forEach(producto=> { %>
                            <%- include('./partials/cards',{ 
                                id:producto.id, 
                                imagenes:producto.imagen,
                                nombre:producto.titulo, 
                                descuento:producto.descuento, 
                                precio:producto.precio }) %>
                                <% }) %>
                            </div>
                            <button aria-label="Previous" class="glider-prev"><i class="fas fa-chevron-left"></i></button>
                            <button aria-label="Next" class="glider-next"><i class="fas fa-chevron-right"></i></button>
                            <div role="tablist" class="dots"></div>
                        </div>
                    </section>
                    <div class="mainMobile">
                    <div class="links">
                        <div class="perroGato">
                            <section class="perro">
                                <div class="mTexto" >Perros</div>
                                <a  class="centrar" href="/productos/Perro ">
                                    <img class="imgPerro" src="img/categoriaPerroAncho.png" alt="">
                                    <img class="imgPerroT" src="img/categoriaPerro.png" alt="">
                                </a>
                            </section>
                            
                            
                            <section class="gato">
                                <div class="mTexto">Gatos</div>
                                <a class="centrar"  href="/productos/Gato ">
                                    <img class="imgGato" src="img/categoriaGatoAncho.png" alt="">
                                    <img class="imgGatoT" src="img/categoriaGato.png" alt="">
                                </a>
                                
                            </section>
                        
                        </div>
                        
                        <div class="perroGato">
                            <a class="centrar" href="/nosotros">
                        <section class="nosotros">
                            <div class="nosotrosText">Sobre Nosotros</div>
                            <div class="paw">
                                <div class="patita"><i class="fas fa-paw"></i></div>
                            </div>
                        </section>
                    </a>
                        
                    <a class="centrar" href="/contacto">
                        <section class="contacto">
                            <div class="nosotrosText">Contacto</div>
                                <div class="paw">
                                    <div class="patita"><i class="fas fa-envelope"></i></div>
                                </div>
                            </section>
                        </a>
                    </div>
                    
                </div>
                </div>

                <div class="mainDesktop">
                        <div class="perroGato">
                            <section class="perro">
                                <div class="mTexto" >Perros</div>
                                <a class="centrar" href="/productos/Perro ">
                                    <img class="imgPerroT" src="img/categoriaPerro.png" alt="">
                                </a>
                            </section>
                            
                            <section class="gato">
                                <div class="mTexto">Gatos</div>
                                <a class="centrar"  href="/productos/Gato ">
                                    <img class="imgGatoT" src="img/categoriaGato.png" alt="">
                                </a>
                            </section>
                        </div>

                    <section class="destacadosP">
                        <span class="spanTitulo">
                            <span class="spanAzul">LOS MÁS </span>
                            <span class="spanNaranja">DESTACADOS</span>
                        </span>
                    </section>

                    <section class="section1">
                        <div class="divTitulo">
                            <span class="spanTitulo">
                                <span class="spanAzul">NUESTRAS </span>
                                <span class="spanNaranja">MARCAS</span>
                            </span>
                        </div>

                        <div class="logos">
                            <img src="img/proplan_logo.png" alt="logo proplan">
                            <img src="img/royalcanin_logo.png" alt=" logo royal canin">
                            <img src="img/infinity_logo.png" alt="logo infinity ">
                        </div>
                    </section>
                            
                <section class="quienSomos">
                    <a href="/nosotros"> <img src="/img/quienes.somos.png" alt=""></a>
                    <span class="textoColum">
                        <span class="spanQuienesSomos">
                            <span class="textoQuienes">QUIENES </span>
                            <span class="textoSomos"> SOMOS</span>
                        </span>
                        <span class="spanParrafo"> Somos una empresa dedicada a la nutrición y venta de alimentos para
                            mascotas. <br>
                            Te ofrecemos las mejores marcas de balanceado para perros y gatos. <br>
                            Siempre pensando en lo mejor para ellos,nuestros amigos de 4 patas. <br>
                            Brindamos asesoramiento para elegir la mejor opción según las necesidades de tu mascota.
                            <br>
                            Tenemos amplia variedad de productos y contamos con el mejor precio del mercado.</span>
                    </span>
                </section>

            </div>

            <%- include('./partials/footer') %>


    </body>