<!DOCTYPE html>
<html lang="es">

<%-include('./partials/head',{title: 'Register'})  %>

<body class="register">
    
    <%- include('./partials/header') %>

    <main>
        <section class="container-image">
            <div>
                <img src="" alt="">
            </div>
        </section>
        <section>
            <h2>Registro</h2>
            <p>completa los siguientes datos</p>
            <form action="" method="get">
                <div class="container bottom">
                    <label for="name">Nombre y Apellido</label>
                    <input type="text" name="name" id="name" placeholder="Ingresa tu nombre y apellido" required>
                    <small>Debe ingresar su nombre</small>
                </div>
                <div class="container bottom">
                    <label for="email">Email</label>
                    <input type="email" name="email" id="email" placeholder="Ingresa un email">
                    <small>Debe ingresar su email</small>
                </div>
                <div class="container bottom">
                    <label for="pass">Contraseña</label>
                    <input type="password" name="pass" id="pass" placeholder="Ingresa una Contraseña">
                    <small>Debe ingresar su contraseña</small>
                </div>
                <button type="submit">Crear cuenta</button>
                <!-- <button type="reset">Cancelar</button> -->
            </form>
        </section>
        <h4>¿Ya tenés una cuenta? <a href="/usuarios/login">Inicia sesión</a></h4>

    </main>


    <%- include('./partials/footer') %>

</body>

</html>